db.host=db.host
db.port=5432
db.user=user
db.pass=pass
db.name=database

# Drivers, Vehicles, DriversDaily, VehiclesDaily
operation.table=Vehicles
operation.batch.count=4
operation.batch.size=4
operation.concurrency=1